[Unit]
Description=UIC Project Server
After=network.target

[Service]
Type=simple
User=arkapravo
Group=arkapravo
WorkingDirectory=/home/arkapravo/UIC-Project/src/alternate
ExecStart=/bin/python3 /home/arkapravo/UIC-Project/src/alternate/main.py

[Install]
WantedBy=multi-user.target
